#card-container
{
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 10px;
	justify-content: center;
	perspective: 500px;
}
.card
{
	position: relative;
	height: 125px;
	width: 125px;
	transition: 0.5s;
}

.card-face
{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	border-width: 2px;
	border-style: solid;
	background-color: #fff;
	border-color: #abc1f5;
	overflow: hidden;
	transition: transform 500ms ease-in-out;
	backface-visibility: hidden;
}

.card.visible .card-back
{
	transform: rotateY(-180deg); 
}

.card.visible .card-front
{
	transform: rotateY(0); 
}

.card.matched .card-front .card-value
{
	animation: dance 1s linear 500ms;
}

.card-back
{
	transform: rotateY(0); 
}

.card-img
{
	width: inherit;
}

.card-back:hover .card-img
{
	transform: translateY(0);
}

.card-front
{
	transform: rotateY(180deg);
}

.card-value
{
	font-size: 1.8em;
	color: #4263b3;
}

@media (max-width: 812px)
{
	.card
	{    
		height: 90px;
    	width: 90px;
	}
}

@media (max-width: 600px)
{
	.card
	{    
		height: 100px;
    	width: 80px;
	}
}

@keyframes dance
{
	0%, 100% { transform: rotate(0) }
	25% { transform: rotate(-30deg) }
	75% { transform: rotate(30deg) }
}