body
{
	margin: 0;
	padding: 0;
	background: #00b4ff;
	color: #333;
	overflow-x: hidden
}

.background-wrap .backgroud-img
{
	height: 100vh;
	width: 100vw;
	background-image: url('../images/backgroud.jpg');
	background-size: cover;
	position: absolute;
    top: 0;
	animation: disappear 1s 100ms forwards;
}

.background-wrap .cloud-item
{
	background: #fff;
	background: linear-gradient(180deg, #fff 5%, #f1f1f1 100%);
	border-radius: 100px;
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	position: relative;
	height: 100px;
	width: 330px;
	animation: disappear 1s 100ms forwards;
}

.background-wrap.visible .cloud-item, .background-wrap.visible .backgroud-img
{
	animation: appear 1s forwards;
}

.cloud-item:after, .cloud-item:before
{
	background: #fff;
	content: '';
	position: absolute;
	z-index: -1;
}

.cloud-item:after
{
	left: 50px;
	top: -50px;
	border-radius: 100px;
	height: 100px;
	width: 100px;
}

.cloud-item:before
{
	right: 50px;
	top: -90px;
	border-radius: 200px;
	height: 180px;
	width: 180px;
}
.cloud-item:before
{
	position: relative;
	content: '';
	position: absolute;
	z-index: -1;
}

.cloud
{
	animation: cloud 15s linear infinite;
	position:relative;
}

.x1
{
	animation: cloud 35s linear infinite;
	transform: scale(0.65);
	top: 100px;
}

.x2
{
	animation: cloud 20s linear infinite;
	transform: scale(0.7);
	opacity: 0.3;
}

.x3
{
	animation: cloud 30s linear infinite;
	transform: scale(0.5);
}

.x4
{
	animation: cloud 18s linear infinite;
	transform: scale(0.9);
}

.x5
{
	animation: cloud 25s linear infinite;
	transform: scale(0.55);
	opacity: 0.6;
}

.x6
{
	animation: cloud 40s linear infinite;
	transform: scale(0.7);
	opacity: 0.6;
	top: -200px;
}

@keyframes cloud {

    0% {margin-left: -100%;}
    100% {margin-left:100%;}
    
}