.login-box
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 350px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: #fff;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	text-align: center;
	opacity: 0;
	z-index: -1;
}

.login-box.active
{
	z-index: 1;
	animation: appear 1s forwards;
}

.login-box h2
{
	text-align: center;
	margin: 0 0 15px 0;
	color: #4878ba;
}

.login-box .user-box
{
	position: relative;
}

.login-box .user-box input
{
	width: 100%;
	padding: 10px 0;
	font-size: 14px;
	color: #000;
	border: none;
	outline: none;
	background: transparent;
}

.login-box .user-box .user-border
{
	background: linear-gradient(90deg, #00bddd, #4878ba);
	height: 2px;
	width: 100%;
	margin-bottom: 20px;
}

.login-box .user-box label
{
	position: absolute;
	top:0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #4878ba;
	pointer-events: none;
	transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label
{
	top: -20px;
	left: 0;
	color: #4878ba;
	font-size: 12px;
}

.login-box.active .button-box
{
	display: block;
}

.login-box .button-box
{
	display: none;
}

@media (max-width: 600px)
{
	.game-container
	{
		/*grid-template-columns: repeat(2, auto)*/
	}

	.game-info-container
	{
		flex-direction: column;
		align-items: center;
	}
}
	