@font-face {
  /*font-family: 'sans';*/
  /*src: url('../fonts/BalsamiqSans-Regular.ttf') format('truetype');*/
}
html
{
	min-height: 100vh;
}
body
{
	/*font-family: sans;*/
	margin: 0;
	padding: 0;
	color: #333;
	overflow-x: hidden
}

.game-container
{
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.game-info-container
{
	display: flex;
    justify-content: space-between;
}

.game-info
{
	display: flex;
	justify-content: flex-end;
    align-items: baseline;
    background: #fff;
    padding: 2px 5px;
    box-shadow: 0px 9px 26px #f1f1f1;
    border-radius: 5px;
}

.game-info-item #flips
{
	font-size: 20px;
}

.game-info-item
{
	font-size: 12px;
	padding: 0 10px;
}

.game-wrap
{
	display: flex;
}

.game-wrap-item
{
	padding: 5px;
}

.overlay
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	display: none;
	position: fixed;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: background-color 500ms, font-size 500ms;
	transition: 0.5s;
}

.overlay.visible
{
	display: flex;
	animation: overlay-grow 1s forwards;
}

.btn
{
	/*font-family: sans;*/
	border: none;
	border-radius: 5px;
	box-shadow: 0px 1px 1px #4878ba;
	cursor: pointer;
	height: 35px;
	margin: 0 auto;
	margin-bottom: 10px;
	transition: 0.25s;
	min-width: 150px;
	width: 100%;
}

.user-info
{
	margin: 5px;
	color: #303b56;
}

.btn.btn-primary
{
	background: linear-gradient(90deg, #00bddd, #4878ba);
	color: #fff;
}

.btn:hover.btn-primary
{
	box-shadow: 0px 1px 10px #4878ba;
}

.error-wrap
{
	color: #ff0000;
    font-size: 14px;
}

@media (max-width: 600px)
{
	.game-wrap
	{    
		display: flex;
    	flex-flow: column-reverse;
	}
}

@media screen
{
	body
	{
		height: 100vh;
		width: 100vw;
		overflow: hidden;
	}
}

@media screen and (orientation: portrait)
{
	#card-container, .game-info, .user-info
	{
		margin-bottom: 20px;
	}
	.game-info-container
	{
		display: flex;
	    justify-content: flex-end;
	    flex-flow: column;
	    align-items: flex-end;
	}
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes disappear {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes overlay-grow
{
	from { background-color: rgba(0, 0, 0, 0); }
	to { background-color: rgba(0, 0, 0, 0.9); }
}